[Unit]
Description=Starts the NodeJS application
After=network.target

# Group and User that the service will run as
Group=csye6225
User=csye6225

[Service]
EnvironmentFile=-/tmp/webapp/.env

# Means that the service is a single process
Type=simple 

# Set the working directory
WorkingDirectory=/tmp/webapp

ExecStart=/usr/bin/node /tmp/webapp/server.js

Restart=on-failure
RestartSec=3


[Install]
WantedBy=multi-user.target
